# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux temporary files
*~

# Neovim swap and backup files
*.swp
*.swo
.viminfo
backup/
undo/

# Node / TypeScript build outputs
node_modules/
dist/
build/
lib-cov/
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and temporary files
.env
.env.local

# IDEs and editors
.idea/
.vscode/

# Coverage directories
coverage/

# Fish shell
fish_variables