'.platform-darwin':
  'ctrl-\\': 'tree-view:toggle'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'alt-j': 'pane:split-down'
  'alt-k': 'pane:split-up'
  'alt-h': 'pane:split-left'
  'alt-l': 'pane:split-right'
  'space space': 'fuzzy-finder:toggle-file-finder'
  'space n': 'tree-view:add-file'
  'shift-cmd-enter': 'vim-mode-plus:maximize-pane-without-center'

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'tab': 'core:move-down'
  'shift-tab': 'core:move-up'
